.second_screen
	width 100%
	position relative
	background-size cover
	background-image url("../../img/second_screen.jpg")
	background-position 50% 0
	background-repeat no-repeat
	min-height 1690px
	@media screen and (max-width: 1300px)
		min-height 1131px

