.promo__side_align_left
	position absolute
	top 0
	bottom 0
	left 0
	width 200px
	padding 0 100px 0 25px
	background-image: -webkit-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: -moz-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: -o-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: -ms-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: linear-gradient(to top, #efc12f, #f1f36d);

	font-family: Exo2bold;
	font-weight: bold;
	font-size: 36px;
	text-transform: uppercase;
	color: #010617;
	text-align center
	@media screen and (max-width: 1300px)
		font-size: 24px;
		width 135px
		padding 0 67px 0 17px

	&:after
		content " "
		display block
		position absolute
		left 226px
		top 0
		bottom 0
		width 0
		height 0
		border-bottom 500px solid #1f75aa
		border-left 100px solid transparent
		@media screen and (max-width: 1300px)
			left 153px
			border-bottom 335px solid #1f75aa
			border-left 67px solid transparent
