.promo__side_align_left
	position absolute
	top 0
	bottom 0
	left 0
	background-image: -webkit-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: -moz-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: -o-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: -ms-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: linear-gradient(to top, #efc12f, #f1f36d);
	font-family: Exo2bold;
	font-weight: bold;
	text-transform: uppercase;
	color: #010617;
	text-align center
	font-size: 24px;
	width 135px
	padding 0 67px 0 17px

	&:after
		content " "
		display block
		position absolute
		top 0
		bottom 0
		width 0
		height 0
		left 120.5px
		border-bottom 500px solid #1f75aa
		border-left 100px solid transparent
