.input_theme_orion_short input
	width 123px
	height 54px
	font-family: Exo2;
	font-size: 24px;
	color: #474747;
	text-align center

	@media screen and (max-width: 1300px)
		width 82px
		height 36px
		font-size: 16px;