.edison__logo
	width 120px
	height 152px
	margin 0 auto
	background-image url("edison__logo.png")
	background-position 50% 50%
	background-repeat no-repeat
	background-size 75%

	@media screen and (max-width: 1300px)
		width 80px
		height 100px
