.faq__item_container
	margin-bottom 35px
	margin-left 80px

.faq__answer_hidden .faq__answer
	display none

.faq__answer_shown button
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);

	background-image: -webkit-linear-gradient(right, #efc12f, #f1f36d);
	background-image: -moz-linear-gradient(right, #efc12f, #f1f36d);
	background-image: -o-linear-gradient(right, #efc12f, #f1f36d);
	background-image: -ms-linear-gradient(right, #efc12f, #f1f36d);
	background-image: linear-gradient(to left, #efc12f, #f1f36d);