.calc_screen__nacenka_selector
	margin 0 111px
	display flex
	justify-content space-around
	align-items center

.calc_screen__nacenka_selector label
	display block
	font-family: Exo2;
	font-size: 24px;
	text-transform: uppercase;
	color: #010617;