.menu_theme_orion
	display flex
	justify-content space-between
	line-height 55px
	font-family Exo2semiBold
	font-size 22px
	font-weight bold
	text-transform uppercase
	color #fff

.menu_theme_orion a
	color #fff
	text-decoration none

	&:hover
		color #fff
		text-decoration none