.menu_theme_orion
	display flex
	justify-content space-between
	line-height 37px
	font-size 16px
	font-family Exo2semiBold
	font-weight bold
	text-transform uppercase
	color #fff

.menu_theme_orion a
	color #fff
	text-decoration none

	&:hover
		color #ffc
		text-decoration none
