.button_theme_orion
	height 63px
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #feffff;
	background-image: -webkit-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: -moz-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: -o-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: -ms-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: linear-gradient(to top, #efc12f, #f1f36d);
	border 0px solid rgba(255,255,255,0)
	font-family: Exo2bold;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #010617;
	padding 0 20px

	&:hover
		background-image: -webkit-linear-gradient(top, #efc12f, #f1f36d);
		background-image: -moz-linear-gradient(top, #efc12f, #f1f36d);
		background-image: -o-linear-gradient(top, #efc12f, #f1f36d);
		background-image: -ms-linear-gradient(top, #efc12f, #f1f36d);
		background-image: linear-gradient(to bottom, #efc12f, #f1f36d);

	&:focus
		outline none

	@media screen and (max-width: 1300px)
		height 42px
		font-size: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		padding 0 13px