.button_theme_orion
	background-color: #feffff;
	background-image: -webkit-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: -moz-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: -o-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: -ms-linear-gradient(bottom, #efc12f, #f1f36d);
	background-image: linear-gradient(to top, #efc12f, #f1f36d);
	border 0px solid rgba(255,255,255,0)
	font-family: Exo2;
	
	text-transform: uppercase;
	color: #010617;
	height 42px
	font-size: 14px !important;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding 0 13px

	&:hover
		background-image: -webkit-linear-gradient(top, #efc12f, #f1f36d);
		background-image: -moz-linear-gradient(top, #efc12f, #f1f36d);
		background-image: -o-linear-gradient(top, #efc12f, #f1f36d);
		background-image: -ms-linear-gradient(top, #efc12f, #f1f36d);
		background-image: linear-gradient(to bottom, #efc12f, #f1f36d);

	&:focus
		outline none
