.boxes__box_center
	position absolute
	bottom 40px
	left 50%
	margin-left -267px
	display inline-block

@media screen and (max-width: 1300px)
	.boxes__box_center
		margin-left -178px
		bottom 10px
	.boxes__box_center img
		width 357px
		height auto
