.calc_screen__calc_lines
	max-width 1100px
	margin 0 150px
.calc_screen__calc_lines .calc_screen__calc_line:first-child
	border-top none
	display flex
	justify-content space-between
	flex-wrap wrap

	@media screen and (max-width: 1000px)
		justify-content center

@media screen and (max-width: 1000px)
	.calc_screen__calc_lines input
		margin-bottom 10px
	.calc_screen__calc_lines button
		margin-bottom 10px