.input_icon_mail .input__box
	position relative
	&:before
		background-image url("mail.png")
		background-repeat no-repeat
		background-size contain
		background-position center
		content " "
		display block
		position absolute
		left 10px
		top 50%
		margin-top -16px
		width 32px
		height 32px