.dialog_fixed 
	position:fixed !important;

.ui-widget-overlay
	background #474b4e
	opacity 0.43

.ui-dialog
	background: #fff 
	background-image none
	border-radius 21px
	-webkit-box-shadow: 0 0 15px rgba(40,40,40,.35);
	-moz-box-shadow: 0 0 15px rgba(40,40,40,.35);
	box-shadow: 0 0 15px rgba(40,40,40,.35);
	padding 0
	overflow visible
	font-family: Exo2;
	color: #000;
	font-size: 24px;

.ui-dialog .ui-dialog-content
	background: #fff 
	background-image none
	padding 40px !important
	position relative
	padding 0
	border-radius 21px
	box-shadow: 0 0 0 rgba(255,255,255,0)
	overflow visible
	@media screen and (max-width: 900px)
		padding 15px !important


.popup_callback__header
	text-align center
	font-family: Exo2bold;
	font-size: 28px;
	font-weight: bold;
	margin-bottom 50px

.popup_callback__block
	text-align center
	margin-bottom 35px

.popup_callback
	&:last-child
		margin-bottom 0 !important

.popup_callback__close_button
	display block
	position absolute
	width 42px
	height 42px
	top -14px
	right -8px
	background-color #fade23
	border-radius 21px
	text-align center
	line-height 42px
	z-index 10000
	&:hover
		font-weight bold
		cursor pointer