.calc_screen__slider
	margin-bottom 35px

.ui-state-focus
	border 0 solid red
	outline none

.ui-state-active
	background #fff !important
	border 0 solid red !important

.ui-state-default
	position relative
	width: 32px;
	height: 32px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.7), inset 0 1px 0 1px #fff;
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.7), inset 0 1px 0 1px #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.7), inset 0 1px 0 1px #fff;
	background-image: -webkit-linear-gradient(bottom, rgba(88,92,102,.1), rgba(234,234,235,.1));
	background-image: -moz-linear-gradient(bottom, rgba(88,92,102,.1), rgba(234,234,235,.1));
	background-image: -o-linear-gradient(bottom, rgba(88,92,102,.1), rgba(234,234,235,.1));
	background-image: -ms-linear-gradient(bottom, rgba(88,92,102,.1), rgba(234,234,235,.1));
	background-image: linear-gradient(to top, rgba(88,92,102,.1), rgba(234,234,235,.1));

	&:before
		content " "
		position absolute
		top 50%
		left 50%
		margin-top -6px
		margin-left -7px
		width: 14px;
		height: 14px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		background-color: #d9d9d9;
		-webkit-box-shadow: 0 2px #fff, inset 0 1px 2px rgba(0,0,0,.39);
		-moz-box-shadow: 0 2px #fff, inset 0 1px 2px rgba(0,0,0,.39);
		box-shadow: 0 2px #fff, inset 0 1px 2px rgba(0,0,0,.39);

.ui-widget-content
	height: 16px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.46), inset 0 1px rgba(255,255,255,.36), inset 0 0 0 1px rgba(255,255,255,.11);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.46), inset 0 1px rgba(255,255,255,.36), inset 0 0 0 1px rgba(255,255,255,.11);
	box-shadow: 0 2px 4px rgba(0,0,0,.46), inset 0 1px rgba(255,255,255,.36), inset 0 0 0 1px rgba(255,255,255,.11);
	border: solid 1px rgba(0,0,0,.51);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.2), rgba(255,255,255,.2));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.2), rgba(255,255,255,.2));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.2), rgba(255,255,255,.2));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.2), rgba(255,255,255,.2));
	background-image: linear-gradient(to top, rgba(0,0,0,.2), rgba(255,255,255,.2));
	border-radius: 8px; 
.ui-slider-range
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.5), inset 0 3px rgba(255,255,255,.2);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,.5), inset 0 3px rgba(255,255,255,.2);
	box-shadow: 0 3px 5px rgba(0,0,0,.5), inset 0 3px rgba(255,255,255,.2);
	background-image: -webkit-linear-gradient(bottom, #f6e15c, #e9b21a);
	background-image: -moz-linear-gradient(bottom, #f6e15c, #e9b21a);
	background-image: -o-linear-gradient(bottom, #f6e15c, #e9b21a);
	background-image: -ms-linear-gradient(bottom, #f6e15c, #e9b21a);
	background-image: linear-gradient(to top, #f6e15c, #e9b21a);
	height 7px !important
	top 50% !important
	left 5px !important
	margin-top -4px !important
	background-color #efc928