.utp
	margin 0 auto 5px
	padding 7px 0 0
	max-width 683px
	min-height 168px
	background linear-gradient(to bottom, #f1f36d, #efc12f)
	-webkit-box-shadow 0 0 21px 3px rgba(24,23,23,.16)
	-moz-box-shadow 0 0 21px 3px rgba(24,23,23,.16)
	box-shadow 0 0 21px 3px rgba(24,23,23,.16)
	position relative

.utp:before
	position absolute
	border: 13px solid transparent;
	border-left: 13px solid #daa004;
	border-top: 13px solid #daa004;
	display block
	content: " "
	width 0
	height 0
	left 0
	bottom -26px

.utp:after
	position absolute
	border: 13px solid transparent;	
	border-top: 13px solid #daa004; 
	border-right: 13px solid #daa004;
	display block
	content: " "
	width 0
	height 0
	right 0
	bottom -26px