.page
	margin: 0
	padding: 0
	min-width 970px
	font: 13px Exo2, Arial, Helvetica, sans-serif;

@font-face
	font-family: Exo2
	font-style: normal
	src: url("../../fonts/Exo2-Regular.ttf")

@font-face
	font-family: Exo2bold
	font-style: bold
	src: url("../../fonts/Exo2-Bold.ttf")

@font-face
	font-family: Exo2thin
	font-style: normal
	src: url("../../fonts/Exo2-Thin.ttf")

@font-face
	font-family: Exo2light
	font-style: normal
	src: url("../../fonts/Exo2-Light.ttf")

@font-face
	font-family: Exo2semiBold
	font-style: normal
	src: url("../../fonts/Exo2-SemiBold.ttf")

