.page
	margin: 0 auto
	padding: 0
	min-width 720px
	max-width 1920px
	font: 18px Exo2, Arial, Helvetica, sans-serif;

.ui-dialog-titlebar
	display none

@font-face
	font-family: Exo2
	font-style: normal
	src: url("../../fonts/Exo2-Regular.ttf")
	src: url('../../fonts/exo2-regular-webfont.woff') format('woff');

@font-face
	font-family: Exo2bold
	font-style: bold
	src: url("../../fonts/Exo2-Bold.ttf")
	src: url('../../fonts/exo2-bold-webfont.woff') format('woff');

@font-face
	font-family: Exo2thin
	font-style: normal
	src: url("../../fonts/Exo2-Thin.ttf")
	src: url('../../fonts/exo2-thin-webfont.woff') format('woff');

@font-face
	font-family: Exo2light
	font-style: normal
	src: url("../../fonts/Exo2-Light.ttf")
	src: url('../../fonts/exo2-light-webfont.woff') format('woff');

@font-face
	font-family: Exo2semiBold
	font-style: normal
	src: url("../../fonts/Exo2-SemiBold.ttf")
	src: url('../../fonts/exo2-semibold-webfont.woff') format('woff');

