.promo
	-webkit-box-shadow: 0 0 15px rgba(37,35,35,.4);
	-moz-box-shadow: 0 0 15px rgba(37,35,35,.4);
	box-shadow: 0 0 15px rgba(37,35,35,.4);
	width 100%
	background-color #1f75aa
	position relative
	overflow hidden
	min-height 200px