.first_screen__sub_utp
	font-family Exo2
	font-weight normal
	font-size 30px
	color #010617
	margin-bottom 17px
	@media screen and (max-width: 1300px)
		margin-bottom 12px
		font-size 20px

.first_screen__sub_utp .first_screen__text
	text-align center