.promo__form_header
	font-family: Exo2semiBold;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	position relative
	display inline-block
	text-align center
	font-size: 20px;
	margin 13px 0 20px

	&:after
		position absolute
		display block
		content " "
		height 0
		bottom -10px
		left 0
		right 0
		border-top 3px solid #ffba01