.calc_screen
	background-image url("../../img/calc_screen.jpg")
	background-position 50% -200px
	background-repeat no-repeat
	background-size cover
	padding-bottom 50px
	position relative

	&:before
		content " "
		position absolute
		z-index -1
		left 0
		right 0
		top -200px
		height 200px
		width 100%
		background-image url("../../img/calc_screen.jpg")
		background-position 50% 0
		background-repeat no-repeat

	&:after
		content " "
		position absolute
		left 0
		right 0
		bottom 0
		width 100%
		background-color: rgba(255,255,255,0);
		background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
		background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
		background-image: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
		background-image: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
		background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
		height 100px