.recalls__button
	display inline-block
	background-color #ebebef
	font-family: Exo2;
	font-weight: bold;
	text-transform: uppercase;
	color: #010617;
	text-shadow: 0 0 5px rgba(247,245,184,.75);
	text-align center
	vertical-align top
	line-height 47px
	margin 10px
	width 171px
	min-height 47px
	font-size: 11px;

	&:hover
		background-image: -webkit-linear-gradient(bottom, #efc12f, #f1f36d);
		background-image: -moz-linear-gradient(bottom, #efc12f, #f1f36d);
		background-image: -o-linear-gradient(bottom, #efc12f, #f1f36d);
		background-image: -ms-linear-gradient(bottom, #efc12f, #f1f36d);
		background-image: linear-gradient(to top, #efc12f, #f1f36d);
		cursor pointer