.recalls__button
	display inline-block
	line-height 70px
	margin 15px
	width 256px
	min-height 70px


	background-color #ebebef
	font-family: Exo2bold;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #010617;
	text-shadow: 0 0 5px rgba(247,245,184,.75);
	text-align center
	vertical-align top

	&:hover
		background-image: -webkit-linear-gradient(bottom, #efc12f, #f1f36d);
		background-image: -moz-linear-gradient(bottom, #efc12f, #f1f36d);
		background-image: -o-linear-gradient(bottom, #efc12f, #f1f36d);
		background-image: -ms-linear-gradient(bottom, #efc12f, #f1f36d);
		background-image: linear-gradient(to top, #efc12f, #f1f36d);
		cursor pointer