.header__phone
	font-family: Exo2bold;
	font-weight: bold;
	text-align center
	font-size: 32px;

	@media screen and (max-width: 900px)
		font-size: 24px;

.header__phone a
	color: #fff;
	text-decoration none

