.faq__question
	display flex
	justify-content space-between
	align-items center
	position relative
	font-family: Exo2;
	color: #474747;
	font-size: 20px;
	margin-bottom 33px

	&:before
		content "?"
		position absolute
		background-color #1671a7
		top 50%
		text-align center
		font-family: Exo2bold;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		border-radius: 20px;
		margin-top -20px
		left -55px
		width 40px
		height 40px
		text-align center
		line-height 39px
		font-size: 24px;	