.faq__question
	display flex
	justify-content space-between
	align-items center
	position relative
	font-family: Exo2;
	font-size: 30px;
	color: #474747;
	margin-bottom 50px

	&:before
		content "?"
		position absolute
		background-color #1671a7
		border-radius: 30px;
		top 50%
		margin-top -30px
		left -80px
		width 60px
		height 60px
		text-align center
		line-height 59px
		font-family: Exo2bold;
		font-size: 36px;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;