.page__second_screen_header
	font-family: Exo2bold;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	color: #010617;
	text-align center
	margin 0
	background-image linear-gradient(to bottom, #DDF0F0, #F6F6F6);