.bonuses__bonus_item
	max-width 495px
	width 31%
	min-width 300px
	min-height 200px
	list-style-type none
	margin-top 330px
	position relative
	display inline-block
	vertical-align middle

	@media screen and (max-width: 1300px)
		max-width 331px
		min-width 200px
		min-height 134px
		margin-top 221px

	&:before
		content " "
		position absolute
		display block
		top -300px
		left 50%
		width 237px
		height 263px
		margin-left -117px
		background-image url("../../../img/bonus.png")
		background-size cover
		@media screen and (max-width: 1300px)
			top -200px
			width 158px
			height 177px
			margin-left -78px

	&:after
		content " "
		position absolute
		display block
		top -290px
		left 50%
		width 218px
		height 174px
		margin-left -109px
		background-position 50% 50%
		background-repeat no-repeat
		@media screen and (max-width: 1300px)
			top -190px
			width 146px
			height 117px
			margin-left -73px