.bonuses__bonus_item
	width 31%
	list-style-type none
	position relative
	display inline-block
	vertical-align middle
	max-width 331px
	min-width 200px
	min-height 134px
	margin-top 221px

	&:before
		content " "
		position absolute
		display block
		left 50%
		background-image url("../../../img/bonus.png")
		background-size cover
		top -200px
		width 158px
		height 177px
		margin-left -78px

	&:after
		content " "
		position absolute
		display block
		left 50%
		background-position 50% 50%
		background-repeat no-repeat
		top -190px
		width 146px
		height 117px
		margin-left -73px