.recalls__recall_side_right
	float right
	position relative

	&:before
		content " "
		position absolute
		border-left 1px solid #dfe0e3
		left 0px
		width 0
		top -21px
		bottom -21px
.recalls__recall_side_right div
	margin-left 50px
