.header__callback
	font-family: Exo2light;
	font-size: 30px;
	text-decoration: underline;
	color: #fff;
	text-align center

	&:hover
		font-weight bold
		cursor pointer

	@media screen and (max-width: 1300px)
		font-size: 20px;