.calc_screen__header
	font-family: Exo2bold;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	color: #010617;
	text-align center
	margin-bottom 35px

	@media screen and (max-width: 1300px)
		font-size: 24px;
		margin-bottom 24px