.select
	font-family: Exo2;
	font-size: 24px;
	color: #474747;

	@media screen and (max-width: 1300px)
		font-size: 16px;

.select button
	width 256px !important
	height 54px

	@media screen and (max-width: 1300px)
		width 200px !important
		height 42px