.boxes__box_left
	position absolute
	left 120px
	top 25px

@media screen and (max-width: 1000px)
	.boxes__box_left
		left 0

@media screen and (max-width: 1300px)
	.boxes__box_left
		left 80px
	.boxes__box_left img
		width 357px
		height auto