.promo__inputs_wrapper
	width 100%
	display flex
	justify-content space-between
	margin-bottom 20px

@media screen and (max-width: 1270px)
	.promo__inputs_wrapper
		display block
	.promo__inputs_wrapper .input
		display block
		text-align center
		margin 0 auto 5px